.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  font-weight: bolder;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(10, 8, 6);
  padding: 8px 25px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(7, 2, 2);
  height: 840px;
  justify-content: center;
  align-items: center;
  color: white;
}

.headings {
  text-align: center;
}

.image1 {
  justify-items: left;
}

.images {
  justify-content: center;
  text-align: center;
}

.interests {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  color: antiquewhite;
  align-items: center;
  padding: 20px;
}

.project-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: 1250px;
  height: 500px;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(to top, rbg(255, 45, 45) 50% white 50%);
  background-size: 100% 200%;
  transition: all 0.8s;
}

.card1:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(255, 45, 45);
}
.card1 img {
  width: 650px;
  height: 300px;
  background-color: white;
  padding: 10px;
}

.box {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(to top, rbg(255, 45, 45) 50% white 50%);
  background-size: 100% 200%;
  transition: all 0.8s;
}

.box:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(255, 45, 45);
}

.box img {
  width: 450px;
  height: 300px;
  background-color: white;
  padding: 10px;
}

.socialicons {
  margin: 10000px;
  justify-items: center;
}
