 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  position: absolute;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: dashed;
  color: rgb(17, 8, 8);
}

ul {
  display: flex;
  background-color: rgb(254, 254, 254);
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding: 0 10%;
  height: 5vh;
}

li a {
  display: block;
  text-decoration: none;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.mobile-nav {
  display: none;
}
