section {
  height: 500px;
  background-color: rgb(239, 239, 241);
  border: solid black 1px;
}

.hero {
  background-color:rgb(255, 255, 255)
  height: 100vh;
}

.nav{
    display: flex;
    justify-content: space-between;
}

ul{
   list-style-type: none;
   display: flex;
   width: 500px;
   justify-content: space-between;
   font-size: larger;
}

li{
    width: 200px;
    text-decoration: none;
}

.hero-text{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


